body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	color:#888;
	padding:0px;
	margin:0px;
	border:0px;
	background-color:#ddd;
}

a {
  color: #00B7FF;
}

div#header {
	background-color:#000;
	color:#fff;
	border:0px;
	border-bottom:5px;
	border-style:solid;
	border-color:#00a0f0;
}

div#header h1{
	margin:0px;
	padding:5px;
	font-size: 20px;
}

div#main {
	margin:20px;
	padding:20px;
	background-color:#fff;
	border-radius:15px;
}

table {
	border:1px #ddd solid;
	border-collapse:collapse;
}

table.noborder, table.noborder td {
	border:0px;
}

table thead{
	background-color:#888;
	color:#fff;
}

table td{
	padding:3px;
	border:1px #ddd solid;
}
